html, body {
    height: 100%;
    width: 100%
    margin: 0px;
    padding: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 20pt;
}
/*
fresh: #4abdac;
vermillion: #fc4a1a;
sunshine: #f7b733;
clean: #dfdce3;
*/

/*
From https://www.awwwards.com/sites/van-gogh-museum
sunflowers: #ffd728
starry: #0188C0;
irises: #00895F;
evening: #312F32;
#012F7F
*/

* {
    margin: 0;
}

.sidebar {
    grid-area: sidebar;
    align-content: flex-start;
    background-color: #30426A;
    color: #E9EDEE;
    padding: 10px;
}

.content {
    grid-area: content;
    position: relative;
    text-align: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;

    background-color: #F3F3F3;
    color: #312F32;

}

.header {
    grid-area: header;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: #2C3E62;
    color: #E9EDEE;
    line-height: 200px;  /*Same height as the corresponding grid row*/
}

.footer {
    grid-area: footer;
    align-content: center;
    background-color: #30426A;
    color: #E9EDEE;
    overflow-y: auto;
    font-weight: bolder;
}

.wrapper {
    min-height: 100%;
    display: grid;
    /*grid-gap: 5px;*/
    grid-template-columns: 25% auto;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:
    "header  content"
    "sidebar content"
    "sidebar footer";
    background-color: #F3F3F3;
    color: #312F32;
}

.box {
    /*color: #fff;*/
    /*padding: 5px;*/
}

.subtitle-line {
  margin: 10px;
}

li.operator_text {
    list-style-type: circle;
    font-style: oblique;
}

li.robot_text {
    list-style-type: square;
    font-family: courier;
}

li.activated {
    font-weight: bolder;
}