html, body {
    height: 100%;
    width: 100%
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 20pt;
}
/*
fresh: #4abdac;
vermillion: #fc4a1a;
sunshine: #f7b733;
clean: #dfdce3;
*/

/*
From https://www.awwwards.com/sites/van-gogh-museum
sunflowers: #ffd728
starry: #0188C0;
irises: #00895F;
evening: #312F32;
#012F7F
*/

.sidebar {
    grid-area: sidebar;
    align-content: flex-start;
    background-color: #30426A;
    color: #E9EDEE;
    padding: 10px;
}

.content {
    grid-area: content;
    position: relative; 
    align-items: center;
    background-color: #F3F3F3;
    color: #312F32;}

.header {
    grid-area: header;
    align-content: center;
    background-color: #2C3E62;
    color: #E9EDEE;}

.footer {
    grid-area: footer;
    align-content: center;
    background-color: #30426A;
    color: #E9EDEE;
    overflow-y: auto;}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% auto;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:
    "header  content"
    "sidebar content"
    "footer  footer";
    background-color: #F3F3F3;
    color: #312F32;}

.box {
    /*color: #fff;*/
    padding: 5px;
}

li.operator_text {
    list-style-type: circle;

}

li.robot_text {
    list-style-type: square;
}

li.activated {
    font-weight: bolder;
}