<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="static/stylesheets/style.css">

        <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
        <script type="text/javascript" charset="utf-8">
            var ws = new WebSocket("ws://localhost:8888/ws");
            // ws.onopen = function() {
            //    ws.send("Hello, world");
            // };
            ws.onmessage = function (evt) {
                var json = JSON.parse(evt.data);
                // document.getElementById(json.label).textContent=json.text;

                var ul = document.getElementById("subtitles");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(json.text));
                li.setAttribute("class", json.label); // added line
                ul.appendChild(li);
            };
        </script>

    </head>
    <body class="main">
        <div class="wrapper">
            <div class="box header"><h1>{{challenge}}</h1></div>
            <div class="box sidebar">
                <ol id="storyline">
                    {% for line in story %}
                        <li>{{ line }}</li>
                    {% end %}
                    <li class="activated">Active</li>
                </ol>
            </div>
            <div class="box content">{{visualization}}</div>
            <div class="box footer">
                <ul id="subtitles">
<!--                     <li class="operator_text">Operator</li>
                    <li class="robot_text">Robot</li> -->
                </ul>
            </div>
        </div>
    </body>
</html>