<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('operator_text', function (data) {
                console.log(data);
                // socket.emit('my other event', { my: 'data' });
            });
        </script>

    </head>
    <body class="main">
        <div class="wrapper">
            <div class="box header"><h1>{{challenge}}</h1></div>
            <div class="box sidebar">
                <ol id="storyline">
                    {% for line in story %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="box content">{{visualization}}</div>
            <div class="box footer">
                <ul>
                    <li>{{ operator_text }}</li>
                    <li>{{ robot_text }}</li>
                </ul>
            </div>
        </div>
    </body>
</html>